@import "./layout/container";
@import "./layout/header";
@import "./layout/main";
@import "./layout/catalog-btn";
@import "./layout/services";
@import "./layout/user-block";
@import "./layout/slider";
@import "./layout/search-form";
@import "./layout/categories";
@import "./layout/slide-list";
@import "./layout/mobile-app";
@import "./layout/mobile-app-btns";
@import "./layout/news-subscribe";

@import "./vendors/normalize";
@import "./base/font";
