.card {

  &__wrap {
    background-color: #fff;
    border: 1px solid #BDBDBD;
    width: 385px;
    box-sizing: border-box;
    font-size: 14px;
    margin: 2px;  
    // min-height: 720px;
    
  }

  

  &__header {
    padding: 7px;
    height: 48px;
    box-sizing: border-box;
    display: flex;
    justify-content: flex-start;
    outline: 1px solid #BDBDBD;
  }

  &__logo {
    height: 34px;
    margin-right: 14px;
  }

  &__seller-name {
    font-weight: 600;
  }

  &__country-name {
    font-size: 10px;
    color: #828282;
  }


  &__photo-wrap {
    position: relative;
    overflow: hidden;
    display: flex;
    // justify-content: center;
    // align-items: center;
    height: 380px;
  }

  &__photo {
    width: 100%;
    object-fit: cover;
    height: 380px;
  }

  &__list, 
  &__arrow-right,
  &__arrow-left {
    z-index: 1;
    cursor: pointer;
    position: absolute;
    top: 47%;
    
    svg {
      transition: 0.25s all;

      &:hover {
        transform: scale(1.1);
      }
    }
  }

  &__list {
    left: 10px;
  }

  &__arrow-right, 
  &__arrow-left {
    opacity: 0.8;
  }

  &__arrow-right {
    right: 10px; 
  }

  &__arrow-left {
    left: 10px;
    transform: rotate(180deg);
  }

  &__characteristics {
    padding: 12px;
  }
  

  &__slide-markers {
    display: flex;
    justify-content: center;
    height: 15px;
    align-items: center;

    li {
      background-color: #C4C4C4;
      height: 5px;
      width: 5px;
      border-radius: 50%;
      margin-right: 5px;

      &:last-child {
        margin-right: 0;
      }
    }
  }
  

  &__content {
    padding: 0 10px;
  }

  &__options-wrap {
    margin-bottom: 15px;
    display: flex;
    justify-content: space-between;

    ul {
      display: flex;
      justify-content: space-between;
    }
  }

  &__options {
    li {
      margin-right: 15px;

      img {
        cursor: pointer;
      }
    }
  }

  &__rating {
    li {
      margin-right: 7px;
    }

    img {
      height: 13px;
      width: 13px;
    }
  }


  &__price-wrap {
    display: flex;
    justify-content: center;
    align-items: baseline;
    margin-bottom: 15px;
  }

  &__new-price,
  &__old-price {
    &::after {      
      content: ' грн';
    }
  }
  
  &__new-price {
    color: green;
    font-weight: 600;
    font-size: 16px;
    margin-right: 8px;
  }

  &__old-price {
    color: #BDBDBD;
    text-decoration: line-through;
  }


  &__description-wrap {
    line-height: 18px;
    margin-bottom: 10px;
  }

  &__description-mark {
    font-weight: 600;
  }

  &__more-info {
    color: #BDBDBD;
    cursor: pointer;

    // &::before {
    //   content: '...';
    // }
  }

  &__characteristic {
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    margin-bottom: 14px;
  }

  &__subtitle {
    margin: 20px 0;
  }

  &__title {
    margin: 0;
    text-align: center;
  }

  &__title,
  &__subtitle {
    font-size: 18px;
    font-weight: 550;
  }


  &__all-reviews-btn {
    cursor: pointer;
    color: #BDBDBD;
    margin-bottom: 5px;
  }

  &__reviews-list {
    margin-bottom: 15px;
    overflow: hidden;
    
    li {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      width: 350px;
      margin-bottom: 5px;
    }
  }

  &__user-name {
    font-weight: 600;
  }


  &__add-review {
    border-top: 1px solid #BDBDBD;
    padding: 10px;
    height: 44px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
  }

  &__score-wrap {
    position: relative;
    width: 20px;
    height: 20px;
    margin-right: 8px;
    transition: 0.25s;
    
    li {
      transition: 0.25s;
      position: absolute;
      left: 0;

      &:hover ~ li path {
        fill: #E5E5E5;
      }
    }
  }

  &__score {
    cursor: pointer;
    width: 20px;
  }

  &__input {
    background-color: inherit;
    border: none;
    outline: none;
    width: 88%;
    margin-right: 8px;

    &::placeholder {
      font-size: 14px;
    }
  }

  &__send {
    cursor: pointer;
    height: 19px;
  }

  
  &__score-wrap_show {
    width: 140px;
    
    li:nth-child(1) {
      left: 0;
    }
    li:nth-child(2) {
      left: 20%;   
    }
    li:nth-child(3) {
      left: 40%;
    }
    li:nth-child(4) {
      left: 60%;   
    }
    li:nth-child(5) {
      left: 80%;
    }
  }


  // ================ slider 

  &__slider {
    position: relative;
  }

  &__strip {
    overflow: hidden;
    display: flex;
    transition: all 0.37s ease-in-out;
  }

  &__gallery {
    display: flex;
    
    li {
      width: 383px;
      
    }
  }
}

.active-slide {
  background-color: #2F80ED !important; // ??
}
