.categories {
  display: none;

  margin-bottom: 100px;

  ul {
    list-style-type: none;
    padding: 0;
  }

  &__inner {
    overflow: hidden;
    display: flex;
  }

  &__inner,
  &__list {
    height: 423px;
  }

  &__list-wrap {
    width: 275px;
    flex-shrink: 0;
    margin-right: 10px;
    box-sizing: border-box;
  }

  &__image-container {
    display: flex;
    justify-content: center;
  }

  &__description {
    position: absolute;
    bottom: 10px;
    text-align: center;
    width: 160px;
  }

  &__img-wrap {
    width: 85%;
    height: 130px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 7%;
    border-radius: 10px;
    font-size: 16px;

    img {
      width: 100%;
      height: 130px;
      object-fit: contain;
    }
  }

  &__variants {
    display: flex;
    flex-wrap: wrap;
    width: calc(100% - 285px);
    align-content: flex-start;
    justify-content: flex-start;
    align-items: flex-start;
    margin: 0 0 -20px 0px;


    overflow-y: auto; //------------------- CHANGE

    li {
      display: flex;
      flex-wrap: wrap;
      border-radius: 11px;
      margin: 0 0 20px 20px;
      width: calc(25% - 20px);
      box-sizing: border-box;
      background-color: #F2F2F2;
      overflow: hidden;
      display: flex;
      justify-content: center;
      position: relative;

      &::after {
        content: '';
        padding-top: 100%;
      }
    }
  }

  &__list {
    width: 100%;
    list-style-type: none;
    padding: 0;
    margin: 0;
    padding-right: 35px;
    overflow-y: auto;

    // mozilla scrollbar 
    scrollbar-width: thin;
    scrollbar-color: #E0E0E0 transparent;
    
    &::-webkit-scrollbar{
      width: 4px;
    }
    &::-webkit-scrollbar-thumb {
      background-color: #E0E0E0;
      border-radius: 2px;
      padding-right: 5px;
    }

    li {
      font-size: 16px;
      margin-bottom: 17px;
      height: 22px;
      box-sizing: border-box;

      &:last-child {
        margin: 0;
      }
    }
  }
}

@media (max-width: 1200px) { 
  .categories {
  
    &__variants {
      li {
        width: calc(33.33% - 20px);
      }
    }

    &__inner {
      height: 530px;
    }

    // &__img-wrap {
    //   margin-top: 13%;
    //   height: 200px;

    //   img {
    //     height: 200px;
    //   }
    // }
  }
}

@media (max-width: 1032px) {
  .categories {
    &__variants {
      li {
        width: calc(50% - 20px);
      }
    }

    // &__img-wrap {
    //   margin-top: 13%;
    //   height: 200px;

    //   img {
    //     height: 200px;
    //   }
    // }
  }
}

@media (max-width: 910px) {
  .categories {
    &__img-wrap {
      margin-top: 7%;
    }
  }
}

@media (max-width: 767px) {
  .categories {
    display: none;
  }
}
