.catalog-btn {
  display: none;

  font-size: 14px;
  height: 50px;
  width: 200px;
  border: none;
  border-radius: 4px;
  background-color: #FFC813;
  text-transform: uppercase;
  outline: none;
  cursor: pointer;
  padding: 0 47px;
  box-sizing: border-box;
  position: relative;
  white-space: nowrap;

  &::before {
    content: url('http://127.0.0.1:5500/molot-front/assets/icons/catalog.svg');
    position: absolute;
    left: 15px;
    top: 15px;
  }
}

@media (max-width: 767px) {
  .catalog-btn {
    width: 100%;
  }
}
