.chat-page {
  &__heading {
    margin: 40px 0 50px 0;
    text-align: left;
    font-size: 48px;
  }

  &__main-wrap {
    display: flex;
  }

  &__search-input {
    width: 45%;
    font-size: 16px;
    padding: 18px 0 18px 36px;
    border: 1px solid #E0E0E0;
    border-radius: 4px;
    margin-bottom: 40px;
    outline: none;

    &::placeholder {
      color: #828282;
      font-size: 16px;
    }
  }
}
