.chat {
  width: 100%;

  &__top-block {
    padding: 10px 18px;
    background-color: #F2F2F2;
    border-radius: 4px;
    display: flex;
    align-items: center;
    margin-bottom: 30px;
  }

  &__product-photo {
    width: 64px;
    height: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    margin-right: 20px;

    img {
      object-fit: cover;
      width: 100%;
      height: 100%;
    }
  }
  
  &__field {
    overflow-y: auto;
    max-height: 566px;
    &::-webkit-scrollbar{
      width: 3px;
      background-color: #E0E0E0;
    }
    &::-webkit-scrollbar-thumb {
      background-color: #BDBDBD;
      border-radius: 2px;
    }
    scrollbar-width: thin;
    scrollbar-color: #E0E0E0 transparent;
  }

  &__name {
    font-size: 14px;
    margin-bottom: 10px;
  }

  &__product-name {
    color: #000;
    text-decoration: none;
    font-size: 12px;
    border-bottom: 1px solid transparent;
    
    &:hover {
      color: #F2994A;
      border-bottom: 1px solid #F2994A;
      cursor: pointer;
    }
  }

  &__options {
    img {
      margin-right: 20px;
      cursor: pointer;
      width: 20px;

      &:last-child {
        margin-right: 0;
      }
    }
  }

  &__top-block-inner {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
  }

  &__avatar-smaller {
    margin-right: 10px;
  }

  &__date {
    color: #BDBDBD;
    font-size: 14px;
    text-align: center;
    margin-bottom: 10px;
  }

  &__message-wrap {
    position: relative;
    display: flex;
    align-items: flex-end;
    max-width: 490px;
    box-sizing: border-box;
    margin-bottom: 40px;
  }

  &__sent-time {
    font-size: 10px;
    color: #828282;
    position: absolute;
    bottom: -16px;
    right: 0;
  }

  &__message-body {
    border: 1px solid #E0E0E0;
    padding: 10px 15px;
    border-radius: 4px;
    border-bottom-left-radius: 0;
    font-size: 16px;
    box-sizing: border-box;
    position: relative;

    &::before {
      content: '';
      border-left: 7px solid transparent;
      border-bottom: 8px solid #E0E0E0;
      position: absolute;
      bottom: -1px;
      left: -7px;
    }

    &::after {
      content: '';
      border-left: 7px solid transparent;
      border-bottom: 8px solid white;
      position: absolute;
      bottom: 0px;
      left: -5px;
    }
  }

  &__textarea-wrap {
    position: relative;
    
    img {
      cursor: pointer;
    }
  }

  &__multiple-photo {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;
    margin-bottom: 10px;
    flex-wrap: wrap;

    li {
      cursor: pointer;
      margin: 2px;
      height: 80px;
      width: 100px;
      
      img {
        object-fit: cover;
        width: 100%;
        height: 100%;
      }
    }
  }

  &__send {
    position: absolute;
    width: 26px;
    height: 25px;
    right: 10px;
    bottom: 15px;
  }

  &__textarea {
    border: 1px #E0E0E0 solid;
    border-radius: 4px;
    resize: none;
    outline: none;
    padding: 15px 50px 15px 15px;
    box-sizing: border-box;
    width: 100%;
    height: 50px;
    margin-top: 30px;
  }

  &__icon-wrap {
    background-color: #2F2F59;
    height: 31px;
    width: 31px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 5px;
    
    img {
      height: 15px;
    }
  }

  &__file-wrap {
    display: flex;
    cursor: pointer;
    margin-bottom: 15px;
  }

  &__file-name {
    font-size: 16px;
  }

  &__file-size {
    font-size: 10px;
  }

  &__attach-file {
    position: absolute;
    bottom: 15px;
    left: -30px;
  }

  &__photo-wrap {
    img {
      cursor: pointer;
      height: 250px;
      width: 100%;
      object-fit: cover;
    }
  }
}
