.footer {
  display: none;

  background-color: #2F2F59;
  color: #fff;
  
  ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
  }

  a {
    color: #fff;
    text-decoration: none;
    cursor: pointer;
  }

  &__contacts {
    font-weight: 300;
  }

  &__column {
    // width: 180px;

    li {
      margin-bottom: 15px;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  &__column_contacts {
    display: flex;
    flex-direction: column;
  }

  &__about {
    display: block;
    margin-top: 20px;
    font-weight: 400;
  }

  &__col-name {
    // ==========
    font-weight: 550;
    // ==========
    margin-bottom: 25px;
  }

  &__external-links {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    margin-top: 52px;

    img {
      cursor: pointer;
    }
  }

  &__social-media {
    display: flex;
  }

  &__mobile-btns-wrap {
    width: 376px;
  }

  &__wrapper {
    font-size: 18px;
    padding: 40px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  &__social-media {
    li {
      margin-right: 30px;

      &:last-child {
        margin-right: 0;
      }
    }

    li img {
      width: 40px;
      height: 40px;
    }
  }
}

@media (max-width: 1000px) {
  .footer {
    &__external-links {
      margin-top: 53px;
      flex-flow: column-reverse;
      align-items: flex-start;
    }

    &__mobile-btns-wrap {
      margin-top: 30px;
    }


    &__column:nth-child(3) {
      width: 20%;
    }

    &__column:nth-child(1),
    &__column:nth-child(2) {
      width: 40%;
    }

    &__column:nth-child(4) {
      width: 32%;
      order: 5;
    }

    &__external-links {
      width: 68%;
      order: 4;
    }

    &__contacts {
      order: 2;
      margin-bottom: 15px;
      margin-top: 0;
    }

    &__about {
      order: 1;
      margin-bottom: 15px;
      margin-top: 0;
      font-weight: 500;
    }

    &__col-name {
      order: 2;
    }
  }
}

@media (max-width: 767px) {
  .footer {
    &__col-name {
      margin-bottom: 20px;
    }

    &__wrapper {
      font-size: 14px;
    }

    &__column {
      width: 55%;
    }

    // &__external-links {
    //   width: 280px;
    // }

    &__mobile-btns-wrap {
      width: 376px;
    }

    &__social-media {
      margin-right: 20px;

      li img {
        width: 30px;
        height: 30px;
      }
    }
  }
}
