.header {
  background-color: #2F2F59;
  color: #fff;
  font-size: 14px;

  &__logo {
    display: block;
  }

  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 0;
  }
  
  &__right-block {
    display: flex;
    align-items: center;
  }

  &__lang {
    margin-left: 83.5px;
  }

  &__mobile-menu {
    position: relative;
    display: none;
    width: 75px;
  }
  
  &__navigation ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: space-between;

    li {
      cursor: pointer;
      margin-left: 33.5px;
    }
  }

  &__navigation ul li::after,
  &__lang::after {
    content: 'x'; // url('../../assets/icons/nav-open-arrow-active.svg')
    margin-left: 8px;
  }

  &__burger {
    cursor: pointer;
    position: relative;
    width: 24px;
    height: 12px;
  }
  &__burger span,
  &__burger::after,
  &__burger::before {
    content: '';
    position: absolute;
    background-color: red;
    width: 100%;
    height: 1px;
  }

  &__burger::after,
  &__burger::before,
  &__burger span {
    background-color: #fff;
  }

  &__burger span {
    bottom: 12px;
  }
  &__burger::after {
    bottom: 5px;
  }
  &__burger::before {
    top: 5px;
  }
  // &__burger::after {
  //   transform: rotate(-45deg);
  //   bottom: 8px;
  // }
  // &__burger::before {
  //   transform: rotate(45deg);
  //   top: 9px;
  // }
  // &__burger span {
  //   transform: scale(0);
  // }


  &__auth,
  &__basket,
  &__burger {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25px;
    height: 25px;
    // outline: 1px solid #fff;
    position: relative;

  }

  // &__auth::before {
  //   content: url('');
  // }
  // &__basket::before {
  //   content: url('');
  // }
  // &__burger::before {
  //   content: url('../../assets/icons/auth.svg');
  // }
}

// @media (max-width: 768px) { 
//   .header {
//     &__navigation ul li,
//     &__lang {
//       margin-left: 23.5px;
//     }
//   }
// }

@media (max-width: 767px) {
  .header {
    &__right-block {
      display: none;
    }

    &__mobile-menu {
      display: flex;
    }
  }
}
