.header {
  display: none;

  background-color: #2F2F59;
  color: #fff;
  font-size: 14px;

  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 0;
  }

  &__logo {
    display: block;
  }
  
  &__menu {
    display: flex;
    align-items: center;
  }

  &__lang {
    cursor: pointer;
    margin-left: 83.5px;
  }

  &__mobile-menu {
    position: relative;
    display: none;
    width: 86px;
  }
  
  &__navigation ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: space-between;

    li {
      cursor: pointer;
      margin-left: 33.5px;
    }
  }

  &__navigation ul li::after,
  &__lang::after {
    content: url('http://127.0.0.1:5500/molot-front/assets/icons/nav-open-arrow.svg');
    margin-left: 8px;
    position: relative;
    top: 3px;
  }

  &__burger {
    cursor: pointer;
    position: relative;
    width: 24px;
    height: 12px;
  }
  &__burger span,
  &__burger::after,
  &__burger::before {
    content: '';
    position: absolute;
    background-color: red;
    width: 100%;
    height: 1px;
  }

  &__burger::after,
  &__burger::before,
  &__burger span {
    background-color: #fff;
  }

  &__burger span {
    bottom: 11px;
  }
  &__burger::after {
    bottom: 5px;
  }
  &__burger::before {
    top: 7px;
  }

  &__auth,
  &__basket,
  &__burger {
    margin-right: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25px;
    height: 25px;
    position: relative;
    &:last-child {
      margin: 0;
    }
  }
}

@media (max-width: 1200px) { 
  .header {
    &__navigation ul li,
    &__lang {
      margin-left: 23.5px;
    }
  }
}

@media (max-width: 767px) {
  .header {
    &__menu {
      display: none;
    }

    &__mobile-menu {
      display: flex;
    }
  }
}
