.recent {
  width: 430px;
  flex-shrink: 0;
  margin-right: 35px;

  &__dialog-list {
    margin: 0;
    padding: 0;
    list-style-type: none;
    max-height: 745px;
    overflow: hidden;
    overflow-y: auto;
    margin-bottom: 70px; // ==================== REMOVE IT

    // scrollbar
    &::-webkit-scrollbar{
      width: 3px;
      background-color: #E0E0E0;
    }
    &::-webkit-scrollbar-thumb {
      background-color: #BDBDBD;
      border-radius: 2px;
    }
    scrollbar-width: thin;
    scrollbar-color: #E0E0E0 transparent;
  }

  &__dialog-card {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
    
    &:last-child {
      margin-bottom: 0;
    }
  }

  &__dialog {
    width: 100%;
    border: 1px solid #E0E0E0;
    border-radius: 4px;
    box-sizing: border-box;
    padding: 15px 20px 15px 15px;
    height: 70px;
    margin-right: 7px;
    position: relative;
    background-color: #F6F6F6;
    cursor: pointer;
  }

  &__new-messages {
    position: absolute;
    background-color: #FFC813;
    font-size: 12px;
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    top: 38px;
    right: 21px;
    display: none;
  }


  &__dialog-wrap {
    width: 100%;
  }

  &__sender-name {
    font-size: 14px;
    font-weight: 550;
  }

  &__date {
    color: #BDBDBD;
    font-size: 12px;
  }

  &__dialog-inner {
    display: flex;
  }

  &__message-info {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    margin-bottom: 10px;
  }

  &__short-message {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 12px;
    width: 270px;
  }
}

.new-message {
  .recent {
    &__new-messages {
      display: flex;
    }
    
    &__dialog {
      background-color: #fff;
    }
  }
}

.active-chat {
  .recent {
    &__dialog {
      border-left: 4px solid #FFC813;
    }
  }
}

