.search {

  margin-bottom: 50px;

  .select-city-active {
    visibility: visible;
  }

  &__form {
    background-color: #F2F2F2;
    border-radius: 4px;
    border-radius: 4px;
    display: flex;
    justify-content: space-between;
    width: 100%;
  }

  &__arrow-down {
    position: absolute; 
    top: 23px; 
    right: 22px;
  }

  &__right-block {
    display: flex;
  }

  &__dropdown,
  &__user-input {
    border: 1px solid #BDBDBD;
    background-color: inherit;
    border-radius: 4px;
  }

  &__dropdown {
    width: 249px;
    margin: 0;
    box-sizing: border-box;
    height: 52px;
    position: relative;
    border-left: none;
    border-right: none;
    border-radius: 0;
  }

  &__selected {
    padding: 16px;
    padding-left: 55px;
    border-left: 1px solid #BDBDBD;
    cursor: pointer;
    position: relative;

    &::after {
      content: url('http://127.0.0.1:5500/molot-front/assets/icons/location.svg');
      position: absolute;

      left: 23px;
      top: 15px;
    }

    &::before {
      content: url('http://127.0.0.1:5500/molot-front/assets/icons/open-arrow.svg');
      position: absolute;
      top: 13px;
      right: 23px;
    }
  }

  &__dropping-block-container {
    width: 268px;
    background-color: #fff;
    visibility: hidden;
    box-shadow: 0 3px 15px -4px rgba(68, 68, 68, 0.4);
    margin-top: 10px;
    border-radius: 4px;
  }

  &__dropping-block {
    // mozilla scrollbar 
    scrollbar-width: thin;
    scrollbar-color: #E0E0E0 transparent;

    &::-webkit-scrollbar{
      width: 4px;
    }
    &::-webkit-scrollbar-thumb {
      background-color: #E0E0E0;
      border-radius: 2px;
      padding-right: 5px;
    }

    list-style-type: none;
    margin: 0;
    padding: 0;
    
    width: 98.8%;
    max-height: 290px;
    overflow-y: auto;

    li {
      user-select: none;
      cursor: pointer;
      margin: 17px 20px;
      position: relative;

      &::after {
        content: url('http://127.0.0.1:5500/molot-front/assets/icons/arrow-right.svg');
        position: absolute;
        right: -5px;
      }
    }
  }

  &__find {
    background-color: #FFC813;
    height: 52px;
    width: 147px;
    border: none;
    padding-right: 70px;
    text-transform: uppercase;
    font-size: 14px;
    padding: 0 69px 0 30px;
    border-bottom-right-radius: 4px;
    border-top-right-radius: 4px;
    position: relative;
    cursor: pointer;

    &::after {
      position: absolute;
      content: url('http://127.0.0.1:5500/molot-front/assets/icons/search.svg');
      right: 34px;
      top: 10px;
    }
  }

  &__user-input,
  &__find {
    outline: none;
  }

  &__user-input {
    height: 50px;
    padding: 0;
    padding-left: 30px;
    width: 775px;
    border-right: none;
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;

    &::placeholder {
      font-size: 14px;
      color: #4F4F4F;
    }
  }
}
