// .services {
//   display: flex;
//   justify-content: space-between;
//   align-items: center;

//   &__calc-btn {
//     text-transform: uppercase;
//     font-size: 14px;

//     &::before {
//       content: url('http://127.0.0.1:5500/molot-front/assets/icons/calc-btn.svg');
//       // display: block;
//       // height: 25px;
//       // width: 25px;
//     }
//   }

//   &__catalog-btn {
//     font-size: 14px;
//     height: 50px;
//     width: 200px;
//     border: none;
//     border-radius: 4px;
//     background-color: #FFC813;
//     text-transform: uppercase;
//     outline: none;
//     cursor: pointer;
//     padding: 0 47px;
//     box-sizing: border-box;
//     position: relative;
//     white-space: nowrap;

//     &::before {
//       content: url('http://127.0.0.1:5500/molot-front/assets/icons/catalog.svg');
//       position: absolute;
//       left: 15px;
//       top: 15px;
//     }
//   }
// }


.calc-btn {
  text-transform: uppercase;
  font-size: 14px;
  // ------
  display: flex;
  align-items: center;
  // ------



  // &::before {
  //   content: url('http://127.0.0.1:5500/molot-front/assets/icons/calc-btn.svg');
  //   // display: block;
  //   // height: 25px;
  //   // width: 25px;
  // }
}

.catalog-btn {
  font-size: 14px;
  height: 50px;
  width: 200px;
  border: none;
  border-radius: 4px;
  background-color: #FFC813;
  text-transform: uppercase;
  outline: none;
  cursor: pointer;
  padding: 0 47px;
  box-sizing: border-box;
  position: relative;
  white-space: nowrap;

  &::before {
    content: url('http://127.0.0.1:5500/molot-front/assets/icons/catalog.svg');
    position: absolute;
    left: 15px;
    top: 15px;
  }
}

// @media (max-width: 767px) {
//   .catalog-btn {
//     width: 100%;
//   }
// }

.estimates-btn {
  // ------
  display: flex;
  align-items: center;
  // ------
  font-size: 14px;
  text-transform: uppercase;
  // content: url('http://127.0.0.1:5500/molot-front/assets/icons/estimates-btn.svg');
}
